/Logs
/Build
/Library
/Temp
/.vs
/Unity.TextMeshPro.Player.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Assembly-CSharp-Editor.csproj
/HoloviewCallKitExample2018.sln
/Microsoft.MixedReality.Toolkit.Core.Build.csproj
/Microsoft.MixedReality.Toolkit.Core.Definitions.Utilities.Editor.csproj
/Microsoft.MixedReality.Toolkit.Core.Extensions.EditorClassExtensions.csproj
/Microsoft.MixedReality.Toolkit.Core.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Core.Utilities.Async.csproj
/Microsoft.MixedReality.Toolkit.Core.Utilities.Async.Player.csproj
/Microsoft.MixedReality.Toolkit.Core.Utilities.Editor.csproj
/Microsoft.MixedReality.Toolkit.csproj
/Microsoft.MixedReality.Toolkit.Examples.csproj
/Microsoft.MixedReality.Toolkit.Examples.Demos.Gltf.csproj
/Microsoft.MixedReality.Toolkit.Examples.Demos.Gltf.Player.csproj
/Microsoft.MixedReality.Toolkit.Examples.Demos.StandardShader.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Examples.Player.csproj
/Microsoft.MixedReality.Toolkit.Player.csproj
/Microsoft.MixedReality.Toolkit.Providers.OpenVR.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.Player.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsVoiceInput.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsVoiceInput.Player.csproj
/Microsoft.MixedReality.Toolkit.SDK.csproj
/Microsoft.MixedReality.Toolkit.SDK.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.SDK.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.BoundarySystem.csproj
/Microsoft.MixedReality.Toolkit.Services.BoundarySystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.DiagnosticsSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.DiagnosticsSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSimulation.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSimulation.Editor.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSystem.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.SpatialAwarenessSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.SpatialAwarenessSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.TeleportSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.TeleportSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Utilities.Gltf.csproj
/Microsoft.MixedReality.Toolkit.Utilities.Gltf.Importers.csproj
/Microsoft.MixedReality.Toolkit.Utilities.Gltf.Player.csproj
/MixedRealityToolkit.Examples.Demos.Utilities.InspectorFields.csproj
/MixedRealityToolkit.Examples.Demos.Utilities.InspectorFields.Inspectors.csproj
/MixedRealityToolkit.Examples.Demos.Utilities.InspectorFields.Player.csproj
/MixedRealityToolkit.Examples.Demos.UX.Interactables.csproj
/MixedRealityToolkit.Examples.Demos.UX.Interactables.Player.csproj
/test.sln
/Unity.Analytics.DataPrivacy.Player.csproj
